// Color Scheme
$ucla-blue: #2774AE;
$ucla-dark-blue: #003B5C;
$ucla-gold: #FFD100;
$ucla-dark-gold: #FFB81C;
// Font sizes
$title-font: 4rem;
$header-font: 2rem;
$subheader-font: 1.5rem;
$body-font: 1rem;
// Colors
$box-shadow-color: lighten(#404040, 25);
$font-color: #333;
// Fonts
$main-font: "Fugaz One", Helvetica, Arial, sans-serif;
$alt-font: Montserrat, Helvetica, Arial, sans-serif;
// Misc.
$navbar-height: 110px;